<div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
  <div class="mb-4">
    <label for="username" class="font-bold text-grey-darker block mb-2">Username</label>
    <input id="username" name="username" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Your Username">
  </div>

  <div class="mb-4">
    <label for="password" class="font-bold text-grey-darker block mb-2">Password</label>
    <input id="password" name="password" type="password" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow" placeholder="Your Password">
  </div>

  <input type="submit" class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow" />
</div>
